<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Loading...</title>
    <script src="https://telegram.org/js/telegram-web-app.js?57"></script>
    <script>
        function redirectWhenReady() {
            if (window.Telegram) {
                if (window.Telegram.WebApp) {
                    if (window.Telegram.WebApp.initData) {
                        const initData = window.Telegram.WebApp.initData;
                        const targetUrl = "main?tgWebAppData=" + encodeURIComponent(initData);
                        window.location.replace(targetUrl);
                    } else {
                        console.log("window.Telegram.WebApp.initData не найден")
                    }
                } else {
                    console.log("window.Telegram.WebApp не найден")
                }
            } else {
                console.log("window.Telegram не найден")
                console.log("Инициализация повторной попытки")
                setTimeout(redirectWhenReady, 100);
            }
        }

        redirectWhenReady();
    </script></head>
<body>
<p>Загрузка...</p>
</body>
</html>
