<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading...</title>
    <script src="https://telegram.org/js/telegram-web-app.js?57"></script>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body class="bg-gray-100 flex items-center justify-center min-h-screen">
<div class="text-center">
    <p class="text-xl font-semibold text-gray-700">Загрузка...</p>
    <div class="mt-4 flex justify-center">
        <div class="animate-spin rounded-full h-8 w-8 border-t-2 border-b-2 border-blue-500"></div>
    </div>
</div>
<script>
    async function authenticate() {
        const initData = Telegram.WebApp?.initData;

        try {
            const response = await fetch("/main", {
                method: "GET",
                headers: {
                    "X-Telegram-InitData": initData
                }
            });

            const html = await response.text();
            document.open();
            document.write(html);
            document.close();

        } catch (error) {
            console.error("Ошибка:", error);
        }
    }

    window.addEventListener("DOMContentLoaded", authenticate);
</script>
</body>
</html>
