<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Telegram user info</title>
</head>
<body>
<h1>Your Telegram Data</h1>
<div th:if="${user}">
    <p>ID: <span th:text="${user.id}"></span></p>
    <p>First Name: <span th:text="${user.firstName}"></span></p>
    <p>Last Name: <span th:text="${user.lastName}"></span></p>
    <p>Username: <span th:text="${user.username}"></span></p>
    <p>Language Code: <span th:text="${user.languageCode}"></span></p>
</div>
</body>
</html>